<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="<%= I18n.locale %>"><!--<![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <style>
      body{
        line-height: 1.2;
      }
    </style>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>

      <%= yield %>

      <section class="subscribeSection ">
        <div class="row">
          <div class="col-md-9 yellowSection">
            <div class="container">
              <h1>Subscribe and receive information about our products.</h1>
            </div>

            <% @subscription = Subscription.new%>
            <%= form_for(@subscription ) do |f| %>
            <% if @subscription.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

                <ul>
                <% @subscription.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="row">
              <div class="col-md-5">
                <p> <span class="f21"> Email</span>
                  <br>

                </p>
                <div class="row">
                  <div class="col-md-8 pl-0">
                    <%= f.text_field :email, class:"form-control input-sm" %>

                  </div>

                </div>
              </div>
              <div class="col-md-5">
                <p> <span class="f21">Phone</span>

                </p>
                <div class="row">
                  <div class="col-md-8 pl-0">
                      <%= f.text_field :phone, class:"form-control input-sm" %>

                  </div>
                  <div class="col-md-4">
                    <button class="btn signUp">Subscribe</button>
                  </div>
                </div>
              </div>
            </div>
            <%end %>

          </div>
          <div class="col-md-3">
            <h2 class="topSellertitle mb-0"><span class="bolder">Top seller </span>Month</h2>
            <h3 class="mt-0">(3 products)</h3>
            <br>
            <div class="row">
              <div class="col-md-4">
                <img class="topImage" src="/assets/images/top-img.png">
              </div>
              <div class="col-md-8 pr-0">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet.
                </p>
                <p>
                  Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <img class="topImage" src="/assets/images/top-img.png">
              </div>
              <div class="col-md-8 pr-0">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet.
                </p>
                <p>
                  Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <img class="topImage" src="/assets/images/top-img.png">
              </div>
              <div class="col-md-8 pr-0">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet.
                </p>
                <p>
                  Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

    <footer class="blackFooter infoRow">
      <div class="row">
        <div class="col-md-1 col-md-offset-2 col-sm-offset-0 col-sm-12 col-xs-12 col-xs-offset-0 fixed-width">
          <h5>FAQ</h5>
          <a href="">Search Bar</a>
        </div>
        <div class="col-md-1 col-sm-12 col-xs-12 fixed-width">
          <h5>Shipping & Returns</h5>
          <a href="">Basic info</a>
        </div>
        <div class="col-md-1 col-sm-12 col-xs-12 fixed-width">
          <h5>About us</h5>
          <a href="">Company info</a>
        </div>
        <div class="col-md-1 col-sm-12 col-xs-12 fixed-width">
          <h5>Phone Subscription</h5>
          <a href="">Form</a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
          <h5>Sign-up for Our Newsletter</h5>
          <a href="">Form</a>
        </div>
      </div>
      <p class="text-center">All right reserved, Walloom S.A.S ® Copyright, 2017 </p>
    </footer>
    <script type="text/javascript">
      (function ($) {
        $(document).ready(function(){
          // hide .navbar first
          // $(".menu").hide();
          // fade in .navbar
          $(function () {
            $(window).scroll(function () {
                    // set distance user needs to scroll before we fadeIn navbar
              if ($(this).scrollTop() > 100) {
                // $('.menu').fadeIn();
              } else {
                // $('.menu').fadeOut();
              }
            });
          });
        });
      }(jQuery));
    </script>
  </body>
</html>
