<div id="spree-header fixed-margin">
  <nav class="top_panel  hidden-sm hidden-xs">
    <div class="panel-container">
     <!--  <p class="navbar-text navbar-left">Open hours: 8.00-18.00 Mon-Sat</p> -->
     <div class="navbar-text navbar-left social-icons">
        <div class="navbar-text navbar-left">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="navbar-text navbar-left">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="navbar-text navbar-left">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
     </div> 
     

      <div class="topPanelnavRight">
        <% if spree_current_user %>
          <a href="/cart" data-hook class="navbar-right add-car" id="link-to-cart"> Add to cart</a>
          <script>Spree.fetch_cart()</script>
          <a href="#"></a>
          <%= link_to Spree.t(:my_account), spree.account_path,  :class => "navbar-text navbar-right" %>
          <%= link_to Spree.t(:logout), spree.logout_path, :class => "navbar-text navbar-right" %>
        <% else %>
          <div id="search-bar" class="navbar-right search-bar-header" data-hook>
            <%= render partial: 'spree/shared/search' %>
          </div>
          <%= link_to "Regístrese", spree.signup_path, :class => "navbar-text navbar-right registrese-button" %>
          <p class="navbar-text navbar-right o-text"> o </p>
          <%= link_to 'Ingrese', spree.login_path, :class => "navbar-text navbar-right" %>
        <% end %>
      </div>
    </div>
  </nav>
  <nav class="navbar home-nav menu navbar-static-top fixed-margin">
    <div class="container-fluid ">
      <div class="navbar-header" style=" width: 500px;">
        <button type="button" class="navbar-toggle collapsed mobile-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="logoImage " src="/assets/images/LegacySuplements.png">
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-content">
        <ul class="nav navbar-nav navbar-right mainNav">
          <li><a href="/catalog">Nuestros Productos <em>></em></a></li>
          <li><a href="/about">Nuestros Servicios <em>></em></a></li>
          <li><a href="/empresa">La Empresa</a></li>
          <li><a href="/security">Contáctenos</a></li>
        </ul>
    </div>
  </nav>
</div>

<style>

  .social-icons{
    background: #306cab;
    margin: 0;
    position: relative;
    left: -84px;
  }

 
  .social-icons div{
    margin-top: 10px;
    margin-bottom: 8px !important;
  }

  .o-text{
    margin-left: -5px;
    margin-right: -5px;

  }

  .registrese-button{
    margin-left: 6px;
  }

  .search-bar-header{
    background: #306cab;
    margin-left: 30px;
  }

  .search-bar-header .form-control{
    height: 22px !important;
    border-radius: 0px !important;
    margin-top: 2px !important;
    font-size: 11px;
  }

  .input-buscar{
    width: 210px !important;
  }

  .search-bar-header .navbar-form{
    margin-top: 6px !important; 
  }

/*  .asd::before {
    content: '';
    display: inline-block;
    height: 18px;
    left: 23px;
    top: 2px;
    position: relative;
    width: 2px;
    background: #185198;
  }*/

  .top_panel i{
    font-size: 20px;
  }
</style>
