<div id="spree-header fixed-margin">
  <nav class="top_panel  hidden-sm hidden-xs">
    <div class="panel-container">
      <div class="navbar-text navbar-left social-icons">
        <div class="navbar-text navbar-left">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="navbar-text navbar-left">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="navbar-text navbar-left">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div> 
      <div class="topPanelnavRight">
        <% if spree_current_user %>
          <a href="/cart" data-hook class="navbar-right add-car" id="link-to-cart"> Add to cart</a>
          <script>Spree.fetch_cart()</script>
          <a href="#"></a>
          <%= link_to Spree.t(:my_account), spree.account_path,  :class => "navbar-text navbar-right" %>
          <%= link_to Spree.t(:logout), spree.logout_path, :class => "navbar-text navbar-right" %>
        <% else %>
          <div id="search-bar" class="navbar-right search-bar-header" data-hook>
            <%= render partial: 'spree/shared/search' %>
          </div>
          <%= link_to 'Ingrese', spree.login_path, :class => "navbar-text navbar-right" %>
          <%= link_to "Regístrese", spree.signup_path, :class => "navbar-text navbar-right registrese-button" %>
          <!-- <p class="navbar-text navbar-right o-text"> o </p> -->
        <% end %>
      </div>
    </div>
  </nav>
  <nav class="navbar home-nav menu navbar-static-top fixed-margin">
    <div class="container-fluid" style=" padding-top: 26px;">
      <div class="navbar-header" style=" width: 500px;">
        <button type="button" class="navbar-toggle collapsed mobile-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/">
          <img class="logoImage " src="/assets/images/full_logo_blue.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-content">
        <ul class="nav navbar-nav navbar-right mainNav">
          <li><a href="/catalog">Nuestros Productos <em>></em></a></li>
          <li><a href="">Nuestros Servicios <em>></em></a></li>
          <li><a href="/empresa">La Empresa</a></li>
          <li class="contact-click"><a href="" data-toggle="modal" data-target="busqueda-modal">Contáctenos</a></li>
        </ul>
    </div>
  </nav>

  
</div>
<div class="modal fade" id="busqueda-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-contant" role="document" style="margin-top: 161px;">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <br>
          <br>
          <div class="row">
            <div class="col-md-6">
              <img class="modal-logo" src="/assets/images/full_logo_blue.png">
              <br>
              <br>
              <img class="img-contact" src="/assets/images/contact-photo.png">
              <br>
              <br>
              <p style="color: #5d5d5d; text-align: center;">Aseguramos la felicidad de nuestros clientes</p>
              <br>
            </div>
            <div class="col-md-6" style="padding-left: 73px;">  
              <h1 style="color: #1254A8; text-align: right;">¿Quieres conocer alguno de nuestros productos?</h1>
              <p class="text-right" style="color: #5d5d5d; font-size: 16px;">Escríbenos</p>
              <div class="form-container">
                <%= form_tag("/contact-message", method: "post") do %>
                  <%= text_field_tag "message[name]", "", placeholder: 'TU NOMBRE', class: 'input-style form-control', required: true%>
                  <%= text_field_tag "message[email]", "", placeholder: 'EMAIL', class: 'input-style form-control', type: 'email', required: true%>
                  <%= text_field_tag "message[product]", "", placeholder: 'PHONE', class: 'input-style form-control', type: 'number', required: true%>
                  <%= submit_tag("COTIZAR", class: "modal-submit")%>
                <% end %>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
<style>

  .social-icons{
    background: #306cab;
    margin: 0;
    position: relative;
    left: -84px;
  }

 
  .social-icons div{
    margin-top: 10px;
    margin-bottom: 8px !important;
  }

  .o-text{
    margin-left: -5px;
    margin-right: -5px;

  }

  .registrese-button{
    margin-left: 6px;
    visibility: hidden;
  }

  .search-bar-header{
    background: #306cab;
    margin-left: 15px;
  }

  .search-bar-header .form-control{
    height: 22px !important;
    border-radius: 0px !important;
    margin-top: 2px !important;
    font-size: 11px;
  }

  .input-buscar{
    width: 210px !important;
  }

  .search-bar-header .navbar-form{
    margin-top: 6px !important; 
  }


  .top_panel i{
    font-size: 20px;
  }

  .home-nav li a:hover{
    background-color: #4c4c4c !important;
    border-color: white !important;
    color: white !important;
    padding-top: 32px !important;
    padding-bottom: 10px !important;
    /* margin-top: -38px !important; */
    transition: all 0.2s ease-out 0s;
    font-weight: 500;
    height: 82px;
    position: relative;
    top: -17px;
  }

  /*modal*/
  .modal-contant{
    width: 800px;
  }

  .modal-logo{
    width: 60%;
  }

  .img-contact{
    width: 105%;
  }

  .input-style{
    text-align: center;
    background: #d4d4d6;    
    border-radius: 0;
    margin-bottom: 13px;
  }

  .input-style[placeholder]{
    color: #707072;
    font-weight: 400;
    font-size: 18px;
  }

  .modal-submit{
    width: 50%;
    float: right;
    background: #d50d00;
    color: white;
    border-radius: 0;
    border-color: #d50d00;
    padding: 10px 0;
    font-size: 18px;
  }

  @media (min-width: 768px){

    .home-nav > li > a {
      border-color: white !important;
      padding-top: 32px !important;
      padding-bottom: 10px !important;
      /* margin-top: -38px !important; */
      transition: all 0.2s ease-out 0s;
      font-weight: 500;
      height: 82px;
      position: relative;
      top: -17px;
    }
  }
</style>

<script>
  $(document).on('turbolinks:load', function() {
    $('.contact-click').click(function(event) {
      $('#busqueda-modal').modal()
    });
  });
  
</script>
