<div class="login-first-section">
  <div class="felicidad-box">
    <div class="numero-dos">
      <div class="dos">
        <p>2</p>
      </div>
      <div class="dos-text">
        <p>
          Calidad de vida
        </p>
      </div> 
    </div>

    <div class="numero-uno">
      <div class="uno">
        <p>1</p>
      </div>
      <div class="uno-text felicidad">
        <p>
          Felicidad
        </p>
      </div> 
      <br>
      <div class="uno-text top-40">
        <p style="color: #2e497e; font-weight: 400;"> 
          No hay medicina que cure lo que cura la felicidad
        </p>
        <br>
        <br>
        <a href="/catalog" class="btn-conocer">CONOCER MÁS</a>
      </div> 
    </div>

    <div class="numero-tres">
      <div class="tres">
        <p>3</p>
      </div>
      <div class="tres-text">
        <p>
          Sonrisas sin fin
        </p>
      </div> 
    </div>
    
    <div class="numero-cuatro">
      <div class="cuatro">
        <p>4</p>
      </div>
      <div class="cuatro-text">
        <p>
          ¿Limites?
        </p>
      </div> 
    </div>
  </div>
</div>
<div class="login-bar">
  <nav class="navbar navbar-default" style="background: #dbd9da">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse informative-bar-login acerca-nav ">
        <ul class="nav navbar-nav acerca-nav">
          <li><a href="#">Acerca</a></li>
          <li><a href="">Cotización</a></li>
          <li><a href="">Órdenes</a></li>
          <li><a href="">Busqueda</a></li>
          <li><a href="">Términos y Condiciones</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Mapa del sitio</a></li>
          <li><a href="../navbar-static-top/">Atención al cliente</a></li>
        </ul>
      </div>
      <div class="rounded-blue-arrow"> 
      </div>
      <div class="text-center arrow">
        <i class="fa fa-arrow-down arrow" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
</div>
<div class="login-form text-center">
  <h4>¿Qué tipo de usuario eres?</h4>

  <div class="row log-section">
    <div class="col-md-4 col-md-offset-2">
      <div class="rounded-blue">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      </div>
      <h1>CONSUMIDOR</h1>
      <div id="big-form" class="auth-box">
        <h5 class="text-center">Encuentra tu tienda más cercana</h5>
        <!-- Button trigger modal -->
        <br>
        <br>
        <button type="button" class="btn btn-primary btn-lg cities-button" data-toggle="modal" data-target="#myModal">
          Medellín
        </button>
        <br>
        <button type="button" class="btn btn-primary btn-lg cities-button" data-toggle="modal" data-target="#myModal2">
          Itagüí
        </button>
        <br>
        <button type="button" class="btn btn-primary btn-lg cities-button" data-toggle="modal" data-target="#myModal3">
          Pereira
        </button>
        <br>
        <button type="button" class="btn btn-primary btn-lg cities-button" data-toggle="modal" data-target="#myModal4">
          Armenia
        </button>
        <br>
        <br>
        <%= link_to 'CONTACTO SUMEL', {}, class: 'contact-sumel' %>
        <br>
        <br>
        <br>
        <%= link_to 'VER TODOS LOS PRODUCTOS', root_path, class: 'products-sumel' %>
        <br>
        <br>
        <br>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Medellín</h4>
              <h4 class="modal-title" id="myModalLabel" style="padding-top: 0"> 
                 Teléfono: (4) 444 01 88
                <br>Celular: 316 523 4269 </h4>
            </div>
            <div class="modal-body">
              <div id="map">
                <iframe width="100%" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlbJ_XRVze2LtvaIBXH8Libsn6c6PWU1Q
                  &q=Sumel+Medellin" allowfullscreen>
              </iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Itagüí</h4>
              <h4 class="modal-title" id="myModalLabel" style="padding-top: 0"> 
                Teléfono: (4) 444 01 88 
                <br>Celular: 311 635 4073</h4>
            </div>
            <div class="modal-body">
              <div id="map">
                <iframe width="100%" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlbJ_XRVze2LtvaIBXH8Libsn6c6PWU1Q
                  &q=Calle 30 N° 41-09, medellin" allowfullscreen>
              </iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Pereira</h4>
              <h4 class="modal-title" id="myModalLabel" style="padding-top: 0"> 
                Teléfono: (6) 3255690 
                <br>Celular:  314 888 0021</h4>
            </div>
            <div class="modal-body">
              <div id="map">
                <iframe width="100%" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlbJ_XRVze2LtvaIBXH8Libsn6c6PWU1Q
                  &q=Cl.+24+%236-14, Pereira - Risaralda" allowfullscreen>
              </iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Armenia</h4>
              <h4 class="modal-title" id="myModalLabel" style="padding-top: 0"> 
                Teléfono: (6) 746 3334 
                <br>Celular:  321 701 0685
                <br>
                 Barrio el Alcazar, Edificio Centro Medico Empresarial Uninorte Local 105</h4>
            </div>
            <div class="modal-body">
              <div id="map">
                <iframe width="100%" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlbJ_XRVze2LtvaIBXH8Libsn6c6PWU1Q
                  &q=4.5431233,-75.6623233" allowfullscreen>
              </iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      
    </div>
    <div class="col-md-4">
      <div class="rounded-blue" >
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <h1>CLIENTE ACTIVO</h1>
      <div id="big-form" class="auth-box">
        <%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
          <fieldset>
            <h5 class="text-center">Ingrese a continuación su información personal</h5>
            <br>
            <!-- Text input-->
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control input-md login-input', tabindex: 1, placeholder: 'Usuario' %>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <div class="">
                <%= f.password_field :password, class: 'form-control input-md login-input', tabindex: 2, placeholder: 'Contraseña' %>
              </div>
            </div>
            <br>
            <div class="form-group" style="margin-right: 58px;">
              <%= f.submit 'INGRESAR', class: 'btn btn-lg btn-success btn-block button-fixed', tabindex: 3 %>
            </div>
            <div class="form-group forgot-password-div text-right">
              <%= link_to '¿Olvidó su contraseña?', spree.recover_password_path, class: 'forget-a' %>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>  
</div>


<nav class="subscription-bar">
  <h3 class="nav navbar-nav navbar-left text-left left">Inscríbete</h3>
  <div class="panel-container">
    <!--  <p class="navbar-text navbar-left">Open hours: 8.00-18.00 Mon-Sat</p> -->
    <div class="nav navbar-nav navbar-right right">
      <div class="navbar-text navbar-left mr-1">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="navbar-text navbar-left mr-1">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
      <div class="navbar-text navbar-left">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div> 
  </div>
</nav>
<style>
  .login-bar nav{
    margin-bottom: 0;
    border-top: 3px solid #0038a7;
  }

  .forget-a{
    color: #c3736c;
    text-decoration: underline;
    font-weight: 500;
  }

  .login-bar nav ul{
    position: relative;
    left: -40px;
  }

  .rounded-blue{
     background: #0038a7;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
  }

  .rounded-blue .fa{
    font-size: 35px;
    color: white;
    padding-top: 30px;
  }

  .rounded-blue-arrow{
    /*background: #0038a7;*/
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 29%;
    margin-left: auto;
    margin-right: auto;
  }

  .arrow{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 68%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: white;
  }

  .login-form h4{
    color: #0038a7;
    font-weight: 700;
    font-size: 22px;
    padding-top: 70px;
  }

  .log-section h4, .log-section h1 {
    color: #0038a7;
    font-weight: 900;
  }

  .log-section h1 {
    font-size: 46px;
  }

  .log-section{
    padding-top: 50px;
  }

  .log-section h5{
    color: #494a4c;
    font-weight: 200;
    padding-top: 15px;
  }
  
  .login-input{
    width: 70%;
    margin: 0 auto;
    border-radius: 0px;
    background: #d8d8d8;
    padding: 23px;
  }

  .button-fixed{
    margin-left: auto;
    margin-right: 0;
    width: 37% !important;
    font-size: 12px;
    border-radius: 12px;
    padding: 8px;
    padding-left: 42px;
    background: #0038a7 !important;
  }

  .forgot-password-div{
    padding-bottom: 75px;
    margin-right: 57px;
  }

  .contact-sumel{
    background: #0038a7;
    width: 70%;
    margin: 0 auto; 
    color: white;  
    padding: 12px 85px;
    font-size: 12px;
  }
  .contact-sumel:hover{
    background: #0760ED;
    color: white;
  }

  #map{
    height: 350px;
  }

  .cities-button{
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 0 auto;
    border-radius: 0px;
    background: #d8d8d8;
    padding: 10px;
    color: #9c9e9e;
    margin-bottom: 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
  }
  .products-sumel{
    background: #585a59;
    width: 70%;
    margin: 0 auto; 
    color: white;  
    padding: 12px 54px;
    font-size: 12px;
  }

  .products-sumel:hover{
    color: white;
  }

  .cities-button:hover{
    background: #d8d8d8 !important;
    padding: 10px;
    color: #555555;
  }

  .subscription-bar{
    height: 70px;
    background: #7f7f7f;
    margin-top: 70px;
  }

  .subscription-bar h3{
    color: white;
  }

  .left{
    padding-top: 25px;
    padding-left: 50px;
  }

  .right{
    padding-top: 15px;
    font-size: 22px;
  }

  .mr-1{
    margin-right: 1px;
  }

  .rounded-blue-arrow:hover{
    background: #0760ED;
  }

  .fa-user-plus{
    margin:0 auto;
  }

  /*HOVER UNDERLINE NAVBAR*/

  .acerca-nav li a{
    text-decoration: none !important;
    position: relative !important;
  }

  .acerca-nav li a:after{
    content: '';
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 0%;
    border-bottom: 2px solid #3366FF;
    transition: 0.4s;
  }

  .acerca-nav li a:hover:after{
    width: 75% !important;
  }

  /*-----------------*/

  .numero-uno{
    position: relative;
    top: 60px;
  }

  .numero-dos{
    position: relative;
    top: 126px;
    left: 250px;
  }

  .numero-tres{
    position: relative;
    top: 156px;
    left: 200px;
  }

  .numero-cuatro{
    position: relative;
    top: 156px;
    left: 300px;
  }


  .uno{
    width: 50px;
    height: 50px;
    background: #0038a7;
    border-radius: 30px;
    margin: 0 auto;
  }

  .dos, .cuatro{
    width: 50px;
    height: 50px;
    background: #0038a7;
    border-radius: 30px;
  }

  .tres{
    width: 50px;
    height: 50px;
    background: #0038a7;
    border-radius: 30px;
    margin: 0 auto;
  }

  .uno p, .dos p, .tres p, .cuatro p{
    margin-top: 0 !important;
    font-size: 16px;
    padding-top: 14px;
    color: white;
    text-align: center;
  }

  .uno-text{
    margin: 0 auto;
    text-align: center;
    background: white;
    width: 31%;
    height: 116px;
    border-radius: 10px;
    position: relative;
    bottom: 18px;
    font-size: 16px;
    left: 315px;
  } 

  .felicidad{
    height: 35px;
    width: 15%;
    background: #e0514b;
    color: white;
    font-size: 16px;
    margin-right: 367px;
    position: relative;
    bottom: 42px;
    left: -30px;
  }

  .calidad{
    height: 35px;
    width: 15%;
    background: #e0514b;
    color: white;
    font-size: 16px;
    margin-right: 367px;
    position: relative;
    bottom: 42px;
    left: -30px;
  }

  /*center-inside*/
  
  .uno-text p {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    text-align: left !important;
    padding-left: 20px !important;
  }

  .dos-text{
    position: relative;
    left: -149px;
    bottom: 44px;
    background: white;
    width: 10%;
    border-radius: 8px;
    padding-top: 8px;
    height: 35px;
    text-align: center;
    color: #e0514b;
    font-weight: 700;
  }

  .cuatro-text{
    position: relative;
    left: -140px;
    bottom: 40px;
    background: white;
    width: 9%;
    border-radius: 8px;
    padding-top: 8px;
    height: 35px;
    text-align: center;
    color: #e0514b;
    font-weight: 700;
  }

  .tres-text{
    position: relative;
    left: 116px;
    bottom: 43px;
    background: white;
    width: 11%;
    border-radius: 8px;
    padding-top: 8px;
    height: 35px;
    text-align: center;
    color: #e0514b;
    font-weight: 700;
    margin: 0 auto;
  }

  .btn-conocer{
    background: #0038a7;
    color: white;
    padding: 12px;
    border-radius: 12px;
    font-size: 12px;
    position: relative;
    left: 28%;
  }

  .btn-conocer:hover{
    color: white;
  }

  .top-40 p{
    top: 40%;
  }

  @media (min-width: 768px){
    .informative-bar-login .navbar-nav>li {
      margin-left: -7px !important;
    }

    .informative-bar-login .navbar-nav > li > a{
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }
</style>
